{% extends 'runobase.html' %}

{% block body %}



<div class="modalContainer">
    <style>
        .modal{
            background-color: white;
            color: black;
            padding: 20px;
            width: 80%;
            border-radius: 5px;
            margin: auto;
            display: flex;
            box-shadow: 1px 1px 15px 1px black;
            flex-wrap: wrap;
            justify-content: center;

        }
    
        .modalContainer{
            position: fixed;
                height: 100vh;
                top: 0;
                left: 0;
                width: 100vw;
                background-color: rgba(0, 0, 0, 0.852);
                opacity: 0;
                pointer-events: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                transition: opacity 0.6s ease;
        }
        .modal{
            background-color: white;
            color: black;
        }
        .show{
            opacity: 1;
            pointer-events: auto;
            
        }
        #submitForm{
            color: white;
            background-color: maroon;
            border: 1px solid maroon;
            box-shadow: 1px 1px 6px 0px maroon;
            padding: 12px;
            margin: 12px;
            border-radius: 3px;
            cursor: pointer;
        }
        #cancel{
            color: black;
            background-color: white;
            box-shadow: 0px 0px 8px 0px black;
            border: 1px solid white;
            padding: 12px;
            margin: 12px;
            border-radius: 3px;
            min-width: 60px;
            cursor: pointer;
        }
        #cancel:hover{
            box-shadow: 1px 2px 12px black;
        }
        #submitForm:hover{
            box-shadow: 1px 2px 12px maroon;
        }
        @media screen and (min-width: 1361px){
            .modal{
                width: 50%;
            }
        }
    </style>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            openModal = document.querySelector('#openModal')
            modal = document.querySelector('.modalContainer')
            openModal.onclick = () => {
                user_type = document.querySelector('select').value
                statement = document.querySelector('#statement')
               
                statement.innerText = `Are you sure you want to register user as ${user_type}`
                
                modal.classList.add('show')
            }
            submitButton = document.querySelector('#submitForm')
            submitButton.onclick = () => {
                submit = document.querySelector('.loginForm button')
                modal.classList.remove('show')
                submit.click()
            }
            cancelButton = document.querySelector('#cancel')
            cancelButton.onclick = () => {
                modal.classList.remove('show')
            }
            
    
        })
    </script>
    
    
    
    <div class='modal'>
        <div id='statement'></div>
        <br>
        <button id='submitForm'>Register</button>
        <button id='cancel'>Edit</button>
    </div>
</div>



<form class='loginForm' method='POST'>
    <style>
        .loginForm{
            margin: auto;
        }
        
            .loginForm{
                margin: 25px;
            }
            .loginForm .formDescription{
                margin-bottom: 25px;
            }

            .loginForm #form{
                /* display: flex;
                flex-wrap: wrap;
                justify-content: left; */
                width: 60%;
            }
            .loginForm #form input{
                width: 90%;
                min-height: 35px;
                margin-bottom: 25px;
                padding-left: 10px;
                border-radius: 5px;
                background-color: white;
                border: 1px solid rgb(181, 179, 179);
            }

            
            @media screen and (min-width: 1361px){
                .loginForm #form{
                /* display: flex;
                flex-wrap: wrap;
                justify-content: left; */
                width: 30%;
                

            }
            }
        .loginForm #form button, #openModal{
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 2px;
            border: 1px solid rgb(46, 45, 45);
            background-color: rgb(46, 45, 45);
            color: white;
            cursor: pointer;
            box-shadow: 0px 1px 6px 1px black;
        }
        .loginForm .formDescription h2, .colorful .loginForm .formDescription h2{
                color: rgb(96, 116, 67);
            }

        .loginForm #form #a{
                margin-top: 25px;
                background-color: rgb(194, 192, 192);
                width: 150px;
                text-align: center;
                padding: 15px;
            }

            .loginForm #form #a a{
                text-decoration: none;
                color: black;
                text-align: center;
            }
            
        


    </style>

    <div class='formDescription'>
        {% if section == 'register' %}
            <h2>Register Student or Teacher</h2>
            <p>Please, fill the form to register student or teacher</p>
        {% else %}
            <h2>Enter your username or email address and password to sign in</h2><br>
            <p>You may use this site without being registered, or signing in, but registered users who sign in have access to additional features and information</p>
        {% endif %}

    </div>
    <style>
        #errorMsg{
            
            width: 80%;
            margin: 30px;
            border-radius: 5px;
            padding: 20px;

            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-shadow: 0px 0px 15px 0px black;
        }
        #errorMsg button{
            background-color: rgb(79, 1, 1);
            border: 1px solid rgb(79, 1, 1);
            color: white;
            padding: 8px;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
            box-shadow: 1px 1px 5px 1px rgb(69, 0, 0);
            cursor: pointer;
        }

        select{
            padding: 10px;
            border-radius: 6px;
        }

    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            function removeMsg(){
                msg = document.querySelector('#errorMsg')
                msg.style.display = 'none'
            }
            document.querySelector('#errorMsg button').onclick = removeMsg
            inputs = document.querySelectorAll('#form input')
            inputs.forEach(function(input){
                input.onclick = removeMsg
            })
        })
    </script>
    {% if form.errors %}
        
        <h2 id='errorMsg'><strong>{{form.errors}}</strong><button>close</button></h2>
        <br><br>
    {% endif %}
    {% if error_msg %}
        
        <h2 id='errorMsg'><strong>{{ error_msg }}</strong> <button>close</button></h2>
        <br>
        <br>
    {% endif %}
    <div id='form'>
        {% csrf_token %}
        {{ form.as_p }}

        <br> 
        {% if form2 %}
            {{ form2 }}
        {% endif %}
        <br>
        <input type='hidden' name='next' value='{{ next }}' >
        <br>
        {% if section == 'register' %}
        <span id='openModal'>Register User</span>
        <button style='display: none;'>Register User</button><br/>
        {% else %}
            <button>Sign in</button><br/>
        {% endif %}
        <section id='a'><a href='{% url "runo:password_reset" %}'>Forgot My Password</a></section>
    </div>
    
</form>




{% endblock %}  