{% extends "runobase.html" %}
    <h1>Reset your password</h1>

    {% block body %}
    <style>
        #emailSuccess{
            padding-top: 30px;
            min-height: 300px;
            text-align: center;
        }
        @keyframes fade{
            0%{
                opacity: 1;
                

            }
            100%{
                opacity: 0;
            }
        }

        #animate div{
            min-width: 20px;
            min-height: 20px;
            margin: 6px;
            border-radius: 50%;
            background-color: grey;
            
        }
        .show{
            animation-name: fade;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            /* animation-play-state: paused; */
        }

    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let allLights = document.querySelectorAll('#animate div')
            let indexToShow = -1
            
            let chooseNum = () => {
                let highestNum = allLights.length - 1
                if(indexToShow >= highestNum){
                    indexToShow = 0
                }
                else{
                    indexToShow += 1
                }
                
                return indexToShow

            }

            function shows(){
                let show = allLights[chooseNum()]
                allLights.forEach(light => {
                    
                    light.classList.add('show')
                })
                show.classList.remove('show')
            }
            setInterval(shows, 1000)
        })
    </script>
    <div id='emailSuccess'>
        We've emailed you instructions for resetting your password

        <div style='display: flex; justify-content: center;' id='animate'>
            <div style='background-color: maroon; box-shadow: 0px 0px 5px 0px maroon'></div>
            <div style='background-color: rgb(255, 255, 4); box-shadow: 0px 0px 5px 0px yellow'></div>
            <div style='background-color: lightseagreen; box-shadow: 0px 0px 5px 0px lightseagreen'></div>
        </div>
    </div>
    {% endblock %}