{% extends "runobase.html" %}


{% block body %}
    <style>

    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('form button').disabled = true
            document.querySelectorAll('input').forEach(input => {
                input.onkeyup = function(){
                    validatePassword() 
                }
            })

            let validatePassword = () => {
                    let newPassword = document.querySelector('input[name="newPassword"]').value
                    let retypePassword = document.querySelector('input[name="retypePassword"]').value
                    
                    if(newPassword.length > 5 && newPassword === retypePassword){
                        document.querySelector('form button').disabled = false
                    }
                    else{
                        document.querySelector('form button').disabled = true
                    }
            }
            function validateInput(value){
                let first_val = value[0]
                noneSame = false
                for(val of value){
                    if(val != first_val){
                        noneSame = true
                    }
                }
                return noneSame
            }
            const button = document.querySelector('form button')
            button.onclick = () => {

                let newPassword = document.querySelector('input[name="newPassword"]').value
                let retypePassword = document.querySelector('input[name="retypePassword"]').value
                if(!(newPassword.length > 5 && newPassword === retypePassword)){
                        
                        
                        alertUser('passwords do not match')
                        return false;
                    }
                    if(!validateInput(newPassword)){
                        alertUser('password cannot be the same character all through')
                        return false;
                        }
            }

            function alertUser(message){
                document.querySelector('.textMessage').innerText = message;
                document.querySelector('.alerts').classList.remove('alert')
                document.querySelector('.alerts').classList.add('show')

                let buttontoclose = document.querySelector('#close') 
                buttontoclose.onclick = () => {
                document.querySelector('.alerts').classList.remove('show')
                document.querySelector('.alerts').classList.add('alert')
                }
            }



            let textMesg = document.querySelector('.textMessage').innerText

            if(textMesg.length > 2 && textMesg != 'None'){
                alertUser(textMesg)
            }
            

        })
    </script>
    <style>
        .alert{
            display: none
        }
        .show{
            display: block;
            
        }
        .alerts{
            
            box-shadow: 0px 1px 12px 1px black;
            padding: 15px;
            border-radius: 20px;
            max-width: 80%;
            margin: auto;
            margin-top: 20px;

        }
        .alerts #close{
            background-color: maroon;
            color: white;
            box-shadow: 0px 1px 10px 1px maroon;
            margin: 20px;
            border: 1px solid maroon;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
        }
        form{
            margin: 20px;
        }
        input{
            width: 80%;
            min-height: 30px;
             border: 1px solid rgb(215, 213, 213); 
            border-radius: 5px;
        }
        @media screen and (min-width: 1000px){
            input{
                width: 50%;
                
            }
        }
        .red{
            color: rgb(177, 24, 24);
        }

        form button{
            background-color: rgb(0, 0, 81);
            color: aliceblue;
            box-shadow: 0px 1px 10px 0px black;
            padding: 12px;
            border: 1px solid rgb(0, 0, 8);
            margin: 10px;
            border-radius: 4px;
            cursor: pointer;

        }
        form button:hover{
            box-shadow: 1px 1px 13px 1px black;
        }
    </style>



    <div class='alert alerts'>
        <div class="textMessage">{{ msg }}</div>
        <button id='close'>Close</button>
    </div>
    
    <form method='POST'>
        <h3 style='text-align: center;'>CHANGE PASSWORD</h3><br>

        {% csrf_token %}
        <p>Old Password<span class='red'>*</span>: <br><input type='password' required name='oldPassword'  minlength='6'></p>
        <p>New Password<span class='red'>*</span>: <br><input type='password' required name='newPassword' minlength='6'></p>
        <p>Retype Password<span class='red'>*</span>: <br><input type='password' required name='retypePassword'  minlength='6'></p>
        <button>Submit</button>
    </form>
{% endblock %}