{% extends 'runobase.html' %}

{% block body %}
    <style>
        #resetPassword{
            margin: 20px;
        }
        #resetPassword input{
            width: 95%;
            min-height: 12px;
            border: 1px solid rgb(213, 212, 212);
            border-radius: 15px;
            padding: 10px;
            margin-bottom: 10px;
        }

        #resetPassword input:hover{
            background-color: rgb(220, 242, 242);
        }
        #resetPassword button{
            background-color: rgb(0, 0, 53);
            color: aliceblue;
            padding: 10px;
            border: 1px solid rgb(0, 0, 53);
            border-radius: 3px;
            box-shadow: 0px 0px 5px 0px black;
            cursor: pointer
        }
        @media screen and (min-width: 1000px){
            #resetPassword input{
                width: 49%;
            }
        }
    </style>
    <div id='resetPassword'>

        <h1> Reset Password </h1>

        <p>
            Please, enter your email to reset your password
        </p>
        <form method='post' >
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>

    </div>
{% endblock %}