{% extends 'runobase.html' %}

{% block body %}
`{% if success_msg %}
  <style>
    .resSuccessMsg{
      padding: 25px;
      margin: auto;
      box-shadow: 0px 0px 12px 0px black;
      border-radius: 3px;
      margin-top: 25px;
      text-align: center;
      margin-bottom: 25px;
    }
    @media screen and (max-width: 1361px) {
      .resSuccessMsg{
        max-width: 90%;
      }
    }
    @media screen and (min-width: 1361px) {
      .resSuccessMsg{
        max-width: 50%;
      }
    }

    .resSuccessMsg button{
      background-color: maroon;
      
      color: white;
      border-radius: 3px;
      padding: 10px;
      text-align: center;
      box-shadow: 1px 1px 6px 0px maroon;
      border: 1px solid maroon;
      padding-left: 18px;
      padding-right: 18px;
      margin: auto;
      cursor: pointer;
      margin-top: 25px;
    }
    .dontShow{
     
      display: none;
    }
    
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let closeSMsg = document.querySelector('.resSuccessMsg button')
      closeSMsg.onclick = closeSuccessMsg
      function closeSuccessMsg(){
        closeMsg = document.querySelector('.resSuccessMsg')
        closeMsg.classList.add('dontShow')
      }
      setTimeout(closeSuccessMsg, 6000)
    })
  </script>
  
  <div class="resSuccessMsg">
    {{ success_msg }}
    <br><br>
    <button>Close</button>
  </div>
{% endif %}


<div class='classContainer'>
  <style>
    .classContainer{
      display: flex;
      flex-wrap: wrap;
      justify-items: space-around;
      background-color: transparent;
    }
    .otherPupils{
      background-color: rgb(4, 74, 118);
      color: aliceblue;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .resultDetails{
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      
    }
    .pupil{
      background-color: rgb(13, 110, 171);
    }
    .otherPupils a{
      text-decoration: none;
      color: aliceblue;
    }
    .otherPupils div{
      padding: 15px;
    }
    #classTeacher{
      text-align: center;
      margin: 15px;
      margin-bottom: 30px;
    }
    .classContainer{
      margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 5px;
        /* box-shadow: 1px 1px 8px 0px black; */
        /* transition: width 0.3s ease; */
    }
    .classContainer:hover{
        box-shadow: 1px 1px 12px 0px black;
        /* width: 92%; */
      }
    @media screen and (min-width: 1361px){
      .classContainer{
        
        width: 90%;
        
      }
      
    }
    @media screen and (max-width: 1361px){
      .classContainer{
        flex-wrap: wrap-reverse;
      }
       .otherPupils{
        width: 100%;
      }
    }
  </style>
  <div class="otherPupils">
    <div id='classTeacher'>
      Teacher: {{ request.user.username }}
      <br>
      Class: {{ class_name }}
      <br>
      <input style='border: 1px solid white; width: 130px;; margin: auto; border-radius: 15px; padding: 10px;'
      type='text' placeholder='search students' >
    </div>
    {% for classPupil in Users %}
    <a href='{% url "runo:result" Class classPupil.users.first.username %}'>
      {% if classPupil.users.first ==  pupil %}
      <div class='pupils pupil''>
        {{ classPupil.users.first.username }}
      </div>
      {% else %}
        <div class='pupils'>{{ classPupil.users.first.username }}</div>
      {% endif %}
    </a>
    {% empty %}
      <div class="pupils">No pupil yet</div>
    {% endfor %}
  </div>


  <div class='resultDetails'>
    <style>
      .resultDetails{
        padding: 30px;
      }
      .resultDetails > section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      }
      .resultDetails > section > aside{
        padding: 10px;
        padding-left: 18px;
        padding-right: 18px;
        background-color: orangered;
        color: white;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0px 0px 6px 0px black;
      }
    </style>
    {% if result %}
      <span style='color: navy;' id='pupilInClass'>{{ pupil }}</span>
      
      <section>
        <aside>Name: {{ pupil.first_name }} {{ pupil.last_name }} </aside>
        <aside>Class: {{ class_name }}</aside>
      </section>

      <div class="modalContainer">
        <div class="modal">
          <div class="text"></div><br>
          <button id='submitTermResult'>Submit Result</button><button id='cancelSubmit'>Cancel</button>
        </div>
        <style>
          .modal #submitTermResult, .modal #cancelSubmit, .modalII #changeStatusButton, .modalII #cancelChangeButton{
            background-color: maroon;
            color: white;
            padding: 12px;
            margin: auto;
            margin-right: 10px;
            border: 1px solid maroon;
            border-radius: 3px;
            box-shadow: 1px 2px 6px 0px maroon;
            cursor: pointer;

          }
          .modal #cancelSubmit,.modalII #cancelChangeButton{
            background-color: white;
            border: 1px solid white;
            box-shadow: 1px 2px 8px 0px maroon;
            color: maroon;
          }
          .modalContainer{
            background-color: rgba(0, 0, 0, 0.89);
            position:  fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.5s ease;
          }
          .show{
            opacity: 1;
            pointer-events: auto;
          }
          .modal, .modalII{
            background-color: white;
            padding: 30px;
            border-radius: 3px;
            color: black;
            /* display: flex;
            align-items: center;
            justify-content: center; */
          }
          
          .modal .text, .modalII .text{
            width: 100%;
            margin: auto;
          }
        </style>
      </div>

      <div>
        <script>
          document.addEventListener('DOMContentLoaded', function(){

            
            let validateStudent = () => {
              var giveAccessToEdit = false
              let pupilInClass = document.querySelector('#pupilInClass').innerHTML

              allPupils = document.querySelectorAll('.otherPupils .pupils')

              const allPupilsList = []
              allPupils.forEach(pupil => {
                allPupilsList.push(pupil.innerText)
              })

              if(allPupilsList.includes(pupilInClass)){
                giveAccessToEdit = true
              }
              if(!giveAccessToEdit){
                document.querySelector('#resultTableForPupil').innerText = `You do not have access to pupil's result`
              }
            }
            validateStudent()


            const submitResultForTerm = (toSubmit) => {
                  forms = document.querySelectorAll('form')
                      forms.forEach(form => {
                        formName = form.getAttribute('data-name')
                        if(formName === toSubmit){
                          form.submit()
                        }
                      })
                    }

            confirmButtons = document.querySelectorAll('.confirm')
            confirmButtons.forEach(function(button){
              button.onclick = function(){
                toSubmit = this.getAttribute('data-id')
                confirm(toSubmit) 
                }
              })

              const confirm = (toSubmit) => {
                showModal = document.querySelector('.modalContainer')
                showModal.classList.add('show')
                modalText = document.querySelector('.modal .text')
                modalText.innerHTML = `Clicking Submit will update ${toSubmit} result. Is this what you want?`
                submitTermResult = document.querySelector('#submitTermResult')
                submitTermResult.onclick = () => {
               
                  submitResultForTerm(toSubmit)}
              }

              cancelSubmit = document.querySelector('#cancelSubmit')
              cancelSubmit.onclick = () => {
                showModal.classList.remove('show')
                document.querySelectorAll('input').forEach(input => {
                  input.value = ''
                })
              }


              toggleFormDisplay = document.querySelectorAll('#toggleFormDisplay')
              toggleFormDisplay.forEach(function(formDisplay){
                formDisplay.onclick = function(){
                let formToDisplay = this.getAttribute('data-for')
                displayForm(formToDisplay)
                }
              })
              function displayForm(formToDisplay){
                forms = document.querySelectorAll('form')
                forms.forEach(form => {
                  if(form.getAttribute('data-name') ===  formToDisplay){
                    form.classList.toggle('displayForm')
                  }
                })
              }
            
              
          })
        </script>

        <style>
          .centerTable{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
          }
          .centerTable > span{
            padding: 10px;
          padding-left: 22px;
          padding-right: 22px;
          background-color: navy;
          color: white;
          margin: 10px;
          border-radius: 20px;
          box-shadow: 0px 0px 6px 0px black;
          }
          tr #thFirst{
            border-left: 5px solid navy;
            border-radius: 3px;
          }
          tr .tdFirst{
            border-left: 5px solid orangered;
            border-radius: 3px; 
          }
          tr .tdFirst:hover{
            border-left: 5px solid yellowgreen;
          }
          tbody tr:hover{
            box-shadow: 0px 0px 6px 0px black;
            border-radius: 3px;
          
          }
          td{
            text-align: center;
          }
          td button{
            background-color: yellowgreen;
            color: white;
            border: 1px solid yellowgreen;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            cursor: pointer;
          }
          td .nores{
            background-color: grey;
            border: 1px solid grey;
            cursor: text;
          }
          #toggleFormDisplay{
            cursor: pointer; 
          }
          #toggleFormDisplay:hover{
            box-shadow: 0px 0px 15px 0px black;
            padding: 15px;
            
          }
          .formData{
            /* display: none; */
            line-height: 0%;
            width: 0%;
            transition: line-height 0.3s ease;
            
          }
          thead th{
            padding: 25px;
          }
          thead tr{
            margin-bottom: 30px;

          }
          .displayForm{
          
            line-height: 100%;
            width: 100%;
            padding: 20px;
            margin: auto;
            text-align: center;
            
            /* display: block; */
          }
          .displayForm input{
            background-color: black;
            color: white;
            padding: 3px;
          }
          .displayForm div{
            margin: auto;
            margin-top: 10px;
            padding: 10px;
            color: white;
            background-color: navy;
            border-radius: 2px;
            max-width: 100px;
            cursor: pointer;
          }
          
        </style>
        <aside class='centerTable'>
          <span>Result</span>
        {% if is_class_teacher %}
        <table id='resultTableForPupil'>
          <thead>
            <tr>
              <th id='thFirst'>Term</th>
              <th>View Result</th>
              <th>Update Result</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class='tdFirst'>First Term</td>
              <td>
                {% if result.first_term %}
                <a href='{{ result.first_term }}'>
                  <button>View First Term Result</button>
                </a>
                {% else %}
                  <button class='nores'>No result for first term</button>
                {% endif %}
              </td>

              <td>
                <span id='toggleFormDisplay' data-for='first_term'>Update First Term Result</span>
                <form class='formData' data-name='first_term' enctype="multipart/form-data" method='POST'>
                  {% csrf_token %}
                  <input type='file' name='resultFile' required>
                  
                  <input type='hidden' name='resultFor' value='first_term'>
                  <div class='confirm' data-id='first_term'>Update</div>
                </form> 
              </td>
            </tr>



            <tr>
              <td class='tdFirst'>Second Term</td>

              <td>
                {% if result.second_term %}
                <a href='{{ result.second_term }}'>
                  <button>View Second Term Result</button>
                </a>
                {% else %}
                  <button class='nores'>No result for second term</button>
                {% endif %}
              </td>

              <td>
                <span id='toggleFormDisplay' data-for='second_term'>Update Second Term Result</span>
                <form class='formData' data-name='second_term' enctype="multipart/form-data" method='POST'>
                  {% csrf_token %}
                  <input type='file' name='resultFile' required>
                  
                  <input type='hidden' name='resultFor' value='second_term'>
                  <div class='confirm' data-id='second_term'>Update</div>
                </form>
              </td>
            </tr>

            <tr>
              <td class='tdFirst'>Third Term</td>

              <td>
                {% if result.third_term %}
                <a href='{{ result.third_term }}'>
                  <button>View Third Term Result</button>
                </a>
                {% else %}
                  <button class='nores'>No result for third term</button>
                {% endif %}
              </td>

              <td>
                <span id='toggleFormDisplay' data-for='third_term'>Update Third Term Result</span>
                <form class='formData' data-name='third_term' enctype="multipart/form-data" method='POST'>
                  {% csrf_token %}
                  <input type='file' name='resultFile' required>
                  <input type='hidden' name='resultFor' value='third_term'>
                  <div class='confirm' data-id='third_term'>Update</div>
                </form>
              </td>
            </tr>

            <tr>
              <style>
                #demote:hover{
                  border-left: 5px solid maroon;
                }
                .studStatus{
                  cursor: pointer;
                  transition: padding 0.3s ease;
                }
                .studStatus:hover{
                  padding: 15px;
                }
              </style>
              <script>
                document.addEventListener('DOMContentLoaded', () => {
                  let changeStats = document.querySelectorAll('.changeStatusOfPupil')
                  changeStats.forEach(status => {
                    status.onclick = function(){

                      statusButton = this.querySelector('a')//.click()
                      changeStatusButton = document.querySelector('.modalIIContainer #changeStatusButton')

                      modalResponseText = `if you ${statusButton.innerText} pupil, you will lose all access to his/her data and can only retrieve from admin. Is this what you want?`
                      changeStatusButton.innerText = `${statusButton.innerText}`
                      document.querySelector('.modalIIContainer .modalII .text').innerText = modalResponseText
                      let modalIIContainer = document.querySelector('.modalIIContainer')
                      modalIIContainer.classList.add('show')
                      
                      changeStatusButton.onclick = function(){
                        modalIIContainer.classList.remove('show')
                        statusButton.click()
                      }
                      cancelChange = document.querySelector('.modalIIContainer #cancelChangeButton')
                      cancelChange.onclick = () => {
                        modalIIContainer.classList.remove('show')
                      }
                    }
                  })
                })
              </script>
              <td class='tdFirst studStatus'>
                No Change
                
              </td>

              <td class='tdFirst studStatus changeStatusOfPupil'>
                Promote
                <button style='display: none;'><a href="{% url 'runo:changeclass' Class pupil.username 'promote'  %}">Promote</a></button>
              </td>

              <td class='tdFirst studStatus changeStatusOfPupil' id='demote'>
                Demote
                <button style='display: none;'><a href="{% url 'runo:changeclass' Class pupil.username 'demote'  %}">Demote</a></button>
              </td>
            </tr>
            
          </tbody>
        </table>
        {% else %}
        <table>
          You are not signed in as {{ class_name }}'s teacher
        </table>
        {% endif %}

        <div class="modalIIContainer">
          <style>
            .modalIIContainer{
              background-color: rgba(0, 0, 0, 0.89);
              position:  fixed;
              height: 100vh;
              width: 100vw;
              top: 0;
              left: 0;
              opacity: 0;
              pointer-events: none;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: opacity 0.5s ease;
              }
              
              .show{
                opacity: 1;
                pointer-events: auto;
              }
          </style>
          <div class="modalII">
            <div class="text"></div>
            <button id='changeStatusButton'>Proceed</button><button id='cancelChangeButton'>Cancel</button>
          </div>
        </div>

      </aside>
      </div>
      
    {% endif %}
  </div>

</div>
{% endblock %}