{% extends 'runobase.html' %}
{% block body %}
    <div id='Results'>
        <style>
            #Results{
                display: flex;
                /* flex-wrap: wrap; */
                justify-content: center;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                color: white;

            }
            @media screen and (max-width: 1361px){
                #Results{
                    width: 95%;
                }
            }
            @media screen and (min-width: 1361px){
                #Results{
                    width: 70%;
                }
            }
            .AllResults, .result{
                background-color: black;
                padding: 12px;
            }
            #Results:hover{
                box-shadow: 1px 1px 18px 1px black;
            }
            .AllResults{
                width: 35%;
                border-radius: 4px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                text-align: center;
            }
            .result{
                width: 65%;
                border-radius: 4px;;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .AllResults a{
                text-decoration: none;
                color: white;
            }
            .AllResults a > div{
                /* width: 90%; */
                margin: auto;
                background-color: rgb(0, 0, 24);
                text-decoration: none;
                color: white;
                padding: 10px;
                margin-bottom: 10px;
            }
            .AllResults a > #currentClass{
                background-color: teal;
            }
        </style>
        <div class='AllResults'>
            <div id='userProfile'>
                <style>
                    #userImg{
                        width: 99%;
                        border: 0px;

                    }
                    #userImg{
                        width: 100%;
                        background-size: cover;
                        background-position: center;
                    }
                    #userImg .userImg{
                        /* background-image: linear-gradient(white, rgb(0, 0, 41)); */
                        background: linear-gradient(110deg, navy 60%, darkblue 60%);
                        display: block;
                        /* width: 99%; */
                        height: 100px;
                        width: 100px;
                        object-fit: cover;
                        border-radius: 50%;;
                        margin: auto;
                        border: 2px solid white;
                       
                    }
                </style>
                <div id='userImg'>
                    {% if request.user.userprofile.profile_image %}
                        <img class='userImg' src='{{ request.user.userprofile.profile_image.url }}' /> 
                        <p>{{ request.user.username }}</p>
                        <br>

                   {% else %}
                        <img class='userImg'>
                        <p>{{ request.user.username }}</p>
                    <br>
                    {% endif %}
                </div>
            </div>

        {% for result in results %}
            {% if result.Class == Class %}
                <a class='classResult' href='{% url "runo:viewResults" result.Class %}'>
                    
                    <div id='currentClass'>
                        <svg width="21" height="21" viewBox="0 0 42 42" fill="none">
                            <path d="M20.8994 11.5527L30.4472 21L20.8994 30.5477" stroke="#23233C" stroke-width="2" stroke-linecap="round"/>
                            <path d="M30.4471 21H11.4521" stroke="#23233C" stroke-width="2" stroke-linecap="round"/>
                            <path d="M41 21C41 32.0553 32.0553 41 21 41C9.94472 41 1 32.0553 1 21C1 9.94472 9.84422 1 20.8995 1C31.9548 1 41 9.94472 41 21Z" stroke="#23233C" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        {{ result.className }} Results</div>
                </a>
                <br>
            {% else %}
            <a class='classResult' href='{% url "runo:viewResults" result.Class %}'>
                    
                    <div>
                        <svg width="21" height="21" viewBox="0 0 42 42" fill="none">
                            <path d="M20.8994 11.5527L30.4472 21L20.8994 30.5477" stroke="#23233C" stroke-width="2" stroke-linecap="round"/>
                            <path d="M30.4471 21H11.4521" stroke="#23233C" stroke-width="2" stroke-linecap="round"/>
                            <path d="M41 21C41 32.0553 32.0553 41 21 41C9.94472 41 1 32.0553 1 21C1 9.94472 9.84422 1 20.8995 1C31.9548 1 41 9.94472 41 21Z" stroke="#23233C" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        {{ result.className }} Results</div>
                </a>
                <br>
            {% endif %}

        {% empty %}
            <div class='classResult'>
                No recorded result
            </div>
        {% endfor %}
        </div>

        <div class='result'>
            
            <div>
                <style>
                    .viewResult{
                        background-color: yellowgreen;
                        color: white;
                        border: 1px solid yellowgreen;
                        padding: 10px;
                        margin: 10px;
                        cursor: pointer;
                        border-radius: 3px;
                        
                    }

                    .noResult{
                        background-color: maroon;
                        color: white;
                        border: 1px solid maroon;
                        padding: 10px;
                        margin: 10px;
                        border-radius: 3px;
                    }
                </style>
                {% if res_in_view %}
                <h2>Result for {{ res_in_view.className }}</h2> 

                    {% if res_in_view.first_term %}
                        <a href='{{ res_in_view.first_term }}' target='_blank'>
                            <button class='viewResult'>View First Term Result</button>
                        </a>
                    {%else%}
                        <button class='noResult'>No result For first Term</button>
                    {% endif %}

                    {% if res_in_view.second_term %}
                        <a href='{{ res_in_view.second_term }}' target='_blank'>
                            <button class='viewResult'>View Second Term Result</button>
                        </a>
                    {%else%}
                        <button class='noResult'>No result For Second Term</button>
                    {% endif %}

                    {% if res_in_view.third_term %}
                        <a href='{{ res_in_view.third_term }}' target='_blank'>
                            <button class='viewResult'>View Third Term Result</button>
                        </a>
                    {%else%}
                        <button class='noResult'>No result For Third Term</button>
                    {% endif %}


                {% else %}
                <button class='noResult'>No result uploaded for this class</button>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}